<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
	<div id="chatbox"></div>
	<form>
		<div class="form-group">
			<label for="mesage">Your message:</label>
			<input type="text" class="form-control" id="message" name="message" placeholder="Yo! Hello! :)">
		</div>
	</form>

	<script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
	<script src="/js/test.js"></script>
  </body>
</html>
